name: reminderkita
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_easyloading: ^3.0.5
  http: ^1.6.0
  intl: ^0.20.2
  supabase_flutter: ^2.12.0
  flutter_local_notifications: ^19.5.0
  timezone: ^0.10.1
  google_fonts: ^6.1.0
  image_picker: ^1.0.4
  flutter_dotenv: ^5.1.0
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
